################################
# FPIPROXY Backend v2
################################

PORT=3000

################################
# JWT
################################

JWT_SECRET=51a2f1ef3871ce98b2789c2f34af881262360238883da688257b9bfeddf010e5

################################
# PostgreSQL
################################

DB_HOST=localhost
DB_PORT=5432
DB_NAME=fpiproxy
DB_USER=fpiproxy
DB_PASSWORD=youngweepo1234

################################
# Server
################################

SERVER_IP=45.146.131.43

################################
# Xray REALITY
################################

REALITY_PUBLIC_KEY=08S-Ztdvyzu5qGw7cucfbdavl6HlRmCqu3CsbqVNpT8
REALITY_PRIVATE_KEY=oAVTrHwRB9zJLRwRkny5lYY5fGSkPf4GlDogUsVzDWA

################################
# Xray Paths
################################

XRAY_CONFIG=/opt/fpiproxy/xray/config.json
XRAY_TEMPLATE=/opt/fpiproxy/backend_v2/templates/xray.template.json

################################
# Project
################################

PROJECT_NAME=FPIPROXY
NODE_ENV=development
